*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Layout */
    --mobile: 375px;
    --desktop: 1440px;

    /* Colors */

    /* Primary */
    --red-500: hsl(356, 100%, 66%);
    --red-400: hsl(355, 100%, 74%);
    --blue-900: hsl(208, 49%, 24%);

    /* Neutral */
    --white: hsl(0, 100%, 100%);
    --gray-600: hsl(207, 13%, 34%);
    --gray-900: hsl(240, 10%, 16%);

    /* Gradient */
    /* Background gradient - intro/CTA mobile nav: */
    --orange-300: hsl(13, 100%, 72%);
    --red-550: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --purple-950: hsl(237, 17%, 21%);
    --purple-900: hsl(237, 23%, 31%);
    
    /* Font */

    --p-font-size: 1rem;
    
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

html, body {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    max-width: 100%;
    /* overflow-x: hidden; */
}

p {
    font-weight: var(--light);
}

a, button {
    font-family: "Ubuntu", sans-serif;
}

/* .page-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    width: 100%;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header {
    font-size: var(--p-font-size);
    background-image: url("./images/bg-pattern-intro-mobile.svg");
    background-color: var(--red-550);
    color: var(--white);
    border-radius: 0 0 0 100px;
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-size: 300%;
}

.header-bar--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.header-logo {
    width: 75px;
}

.menu-icon {
    height: 20px;
    width: 35px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

ul, li, a {
    list-style-type: none;
    text-decoration: none;
}

/* .header__btn--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.btn, .menu-icon {
    cursor: pointer;
}

/* .header__btn--div {
} */

.start-free__btn,
.learn-more__btn {
    font-weight: var(--medium);
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 12px 20px;
    margin-bottom: 8rem;
}

.start-free__btn {
    background-color: var(--white);
    color: var(--red-550);
}

.learn-more__btn {
    background-color: var(--red-550);
    color: var(--white);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.header__h {
    font-size: 1.75rem;
    font-weight: var(--regular);
    padding-top: 5rem;
    /* text-wrap: pretty; */
}

.header__p {
    font-size: 1rem;
    font-weight: var(--light);
    padding: 1rem 0 2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.main {
    color: var(--blue-900)
}

.main__h {
    font-size: 1.4rem;
    font-weight: var(--medium);
}

.main-img {
    margin: 0 -1rem;
    width: calc(100% + 2rem);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.mid-main--outer {
    position: relative;
    margin-top: 13rem;
}

.phones-img {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 2;
}

.mid-main--div {
    position: relative;
    overflow: hidden;
    background-color: var(--purple-950);
    color: var(--white);
    border-radius: 0 100px 0 100px;
    width: 100%;
    padding: 11rem 1.5rem 4rem;
}

.circles-img {
    position: absolute;
    top: -275px;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    z-index: 1;
}

.highlight {
    position: relative;
    z-index: 2;
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer__category,
.footer__link {
    color: var(--white)
}

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--gray-900);
    border-radius: 0 100px 0 0;
}

.footer-logo {
    width: 100px;
    margin: 3rem 0 5rem;
}

.footer__category {
    font-weight: var(--bold);
    margin-bottom: 200px;
}

.footer__ul {
    font-weight: var(--light);
    line-height: 2rem;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
